/*
Light version of the previous theme
*/

.hljs {
  color: #333333;          /* dark text */
/*
  background: #ffffff;
*/
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #0077aa;          /* darker blue */
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #aa0000;          /* dark red */
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #005500;          /* dark green */
}

.hljs-comment,
.hljs-quote {
  color: #888888;          /* gray for comments */
}

.hljs-meta {
  color: #666600;          /* darker yellow */
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #008800;          /* dark green */
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: #aa5500;          /* dark orange */
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #995500;          /* brownish */
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
